<main>

	<div class = "area-show-page">

		<h2>You are viewing:

			{{ area.place }}

		</h2>

        <h3>Information: 

            {{ area.description }}

        </h3>

        <h3>Rules: 

            {{ area.rules }}

        </h3>

        <img src="{{ area.img }}"/>

        <ul>

            {{#each photo }}

                <li>

                        {{ img }}<br/>
			                    
                </li>

            {{/each }}

        </ul>

         <a href="/{{ region }}/edit">Edit Area</a><br/>
         <a href="/{{ region }}/new">Add New Photo</a><br/>

         <a href="/atlanta">Return to Home Page</a><br/>
         <a href="/atlanta/{{ area.region }}">Return to {{ area.region }}</a>



	</div>

</main>