<main>

    <a href="/atlanta">Return to Home Page</a>


	<div class = "region-show-page">

		<h2>You are viewing:

			{{ region }}

		</h2>

        <h3>Areas: </h3>

        <ul>

            {{#each region }}

                <li>

                        {{ area }}
			
                        <img src="{{ img }}"/>
                    
                </li>

            {{/each }}

        <a href="/{{ id }}/edit">Edit Region</a><br/>
        <a href="/{{ id }}/newarea">Add New Area</a><br/>


	</div>

</main>