<main>

    <a href="/atlanta">Return to Home Page</a><br/>

	<div class = "area-show-page">

		<h2>

			{{ area.place }}

		</h2>

        <h3>

            {{ area.region }}

        </h3>

        <h4> 

            {{ area.description }}

        </h4>

        <p>

            {{ area.rules }}

        </p>

        <img src="{{ area.img }}"/>

        <ul>

            {{#each photo }}

                <li>

                        {{ img }}<br/>
			                    
                </li>

            {{/each }}

        </ul>

         <a href="/atlanta/areas/area/{{ area.id }}/edit">Edit Area</a><br/>
         
         <a href="/{{ region }}/new">Add New Photo</a><br/>

         <a href="/atlanta/areas/{{ area.name }}">Return to {{ area.name }}</a>

        <form action="/atlanta/areas/area/{{ area.id }}?_method=DELETE" method="POST">
			<input type="submit" value="Delete Area"/>
		</form>



	</div>

</main>