<main>

    <div class = "areas-show-page">

        <ul>

            {{#each areas }}

                <li>

                    <h1><a href="/areas/area/{{ id }}">{{ place }}</a></h1><br/>
                    <a href="/areas/area/{{ id }}"><img src="{{ img }}"/></a><br/>
                    <p class="cite">{{ imgSource }}</p>

                </li>

            {{/each }}

        </ul>

        <div class="region-footer">

            <a href="/areas/create/new">Add New Area</a><br/>

        </div>

	</div>

</main>