<main>

    <a href="/atlanta">Return to Home Page</a><br/>

    <div class = "areas-show-page">

        <ul>

            {{#each areas }}

                <li>

                    <a href="/atlanta/areas/area/{{ id }}">{{ place }}</a><br/>
                    {{ description }}<br/>
                    <a href="/atlanta/areas/area/{{ id }}"><img src="{{ img }}"/></a><br/>

                </li>

            {{/each }}

        </ul>

        <a href="/atlanta/areas/create/new">Add New Area</a><br/>


	</div>

</main>