<main>

    <a href="/">Return to Home Page</a><br/>

    <a href='/areas/index'>View Entire Area Index</a><br/>

    <div class = "areas-show-page">

        <h1>

            Areas of Region

        </h1>

        <ul>

            {{#each areas }}

                <li>

                    <a href="/areas/area/{{ id }}">{{ place }}</a><br/>
                    {{ description }}<br/>
                    <a href="/areas/area/{{ id }}"><img src="{{ img }}"/></a><br/>

                </li>

            {{/each }}

        </ul>

        <a href="/areas/create/new">Add New Area</a><br/>

	</div>

</main>