<main>

    <a href="/atlanta">Return to Home Page</a>

    <h1>Edit Area</h1>

        <form action="/atlanta/areas/area/{{ area.id }}?_method=PUT" method="POST">

            {{!-- Region Name: <select name="region">
				<option value="">Select a Region</option>
				{{#each regions }}
					<option value="{{ id }}">{{ name }}</option>
				{{/each}}
			</select><br/> --}}

            Region: <input type="text" name="name" value="{{ area.name }}"/><br/>

            Name: <input type="text" name="place" value="{{ area.place }}" /><br/>

            Description: <input type="text" name="description" value="{{ area.description }}" /><br/>

            Rules: <input type="text" name="rules" value="{{ area.rules }}" /><br/>

            Photo: <input type="text" name="img" value="{{ area.img }}" /><br/>

        <input type="submit" value="Submit Changes"/>

    </form>
    
</main>