<main>

    <div class="area-edit-page">

        <h1>Edit Area</h1>

            <form action="/areas/area/{{ area.id }}?_method=PUT" method="POST">

                {{!-- Region Name: <select name="region">
                    <option value="">Select a Region</option>
                    {{#each regions }}
                        <option value="{{ id }}">{{ name }}</option>
                    {{/each}}
                </select><br/> --}}

                <label>Region:</label><input type="text" name="name" value="{{ area.name }}"/><br/>

                <label>Name:</label><input type="text" name="place" value="{{ area.place }}" /><br/>

                <label>Description:</label><textarea type="text" name="description" value="{{ area.description }}">{{ area.description }}</textarea><br/>

                <label>Rules:</label><textarea type="text" name="rules" value="{{ area.rules }}">{{ area.rules }}</textarea><br/>

                <label>Photo:</label><input type="text" name="img" value="{{ area.img }}"/><br/>

                <label>Source:</label><input type="text" name="imgSource" value="{{ area.imgSource }}"/><br/>

            <button class="form" type="submit">Submit Changes</button>

        </form>

    </div>
    
</main>