<main>

    <div class="area-index-page">
        
        <h2>Atlanta Park List</h2>

        <h3>Welcome!<br/>
        Don't want to sort by region? No problem!<br/>
        Please select the park of your choice.</h3>
        
        <ul>

            {{#each places }}

                    <h1><a href="/areas/area/{{ id }}">{{ place }}</a></h1><br/>
                    <a href="/areas/area/{{ id }}"><img src="{{ img }}"/></a><br/>
                    <p class="cite">{{ imgSource }}</p>
                        
            {{/each }}

        </ul>

        <div class="region-footer">

            <a href="/areas/create/new">Add New Area</a><br/>
            
        </div>


    </div>

</main>