<main>
    
    <h2><a href='/{{ region.id }}'>Return to Region Information</a></h2><br/>

    <div class="region-edit-page">

        <h1>Make Changes to Region</h1>

        <form method="POST" action="/{{ region.id }}?_method=PUT">

            <label>Region:</label><input type="text" name="name" value="{{ region.name }}"/><br/>

            <label>About:</label><textarea type="text" name="about">{{ region.about }}</textarea><br/>
                
            <label>Photo:</label><input type="text" name="img" value="{{ region.img }}"/><br/>

            <label>Source:</label><input type="text" name="imgSource" value="{{ region.imgSource }}"/><br/>

            <button type="submit">Submit Changes</button>

        </form>

    </div>
    
</main>
