<main>

	<div class = "region-show-page">

        <h1><a href = "/areas/{{ region.name }}">{{ region.name }}</a></h1>

        <p>{{ region.about }}</p>

        <a href="/areas/{{region.name}}"><img src="{{ region.img }}"/></a>

        <p class="cite">{{ region.imgSource }}</p><br/>

        <div class="region-footer">

            <a href = "/areas/{{ region.name }}">Areas of {{ region.name }}</a>

            <a href="/areas/create/new">Add New Area</a>

            <a href="/{{region.id}}/edit">Edit Region</a>

            <form class="delete" action="/{{ region.id }}?_method=DELETE" method="POST">
                <button type="submit">Delete Region</button>
            </form>

        </div>

	</div>

</main>