<main>

	<div class = "region-show-page">

        <h2>{{ region.name }}</h2>

        <p>{{ region.about }}</p><br/>

        <img src="{{ region.img }}" /><br/>

        <p class="cite">{{ region.imgSource }}</p>

        <a href = "/areas/{{ region.name }}">Areas of {{ region.name }}</a><br/>

        <a href="/areas/create/new">Add New Area</a><br/>

        <a href="/{{region.id}}/edit">Edit Region</a><br/>

        <form action="/{{ region.id }}?_method=DELETE" method="POST">
			<input type="submit" value="Delete Region"/>
		</form>


	</div>

</main>